
#根据接口快速生成IXXCoreImp.java实现类文件

package $contextClass.packageName ;

import com.yymobile.common.core.AbstractBaseCore;
import com.yymobile.common.core.$contextClass.name;

/**
 * @Date Created: $TIME
 * @Author $USER
 * @Description: $contextClass.comments
 */
public interface ${ClassName} extends AbstractBaseCore implements ${contextClass}.name {



}
