#if(!$null.isNull($contextClass.packageName))
package $contextClass.packageName;
#end
import com.yymobile.common.core.AbstractBaseCore;
import com.yymobile.common.core.$contextClass.name;
#foreach($import in $contextClass.importList)
#if(!$null.isNull($importer))
import $import;
#end
#end

/**
 * @Date Created: $TIME
 * @Author: $USER
 * @Description:
 #foreach($comment in $contextClass.comments)
 *$comment
 #end
 */
public class ${ClassName} extends AbstractBaseCore implements ${contextClass.name} {

#foreach($method in $contextClass.methods)
#if(!$null.isNull($method.comments) && $method.comments.size()>0)
/**
#foreach($comment in $method.comments)
 * $comment
#end
 */
#end
public ${method.returnType} ${method.name}($method.paramsStr) {

}

#end
}