#foreach($method in $contextClass.methods)
#if(!$null.isNull($method.comments) && $method.comments.size()>0)
/**
#foreach($comment in $method.comments)
* $comment
#end
*/
#end
void ${method.name}($method.paramsStr);

#end
